@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ml-3-percent {
        margin-left: 3%;
    }

    .ml-5-percent {
        margin-left: 5%;
    }

    .ml-1-percent {
        margin-left: 1%;
    }

    .ml-10-percent {
        margin-left: 10%;
    }
}